html, body {
  height: 100%; }

html {
  background-image: url("../images/cardboard_@2X.png");
  background-size: 600px 600px; }

body {
  margin: 0;
  height: 100%;
  font-family: "ProximaNovaRegular", "Helvetica Neue", Helvetica, sans-serif; }

h1 {
  font-weight: normal;
  font-style: normal;
  color: #2A2A2F;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1); }

h1, h2, h3, h4 {
  font-family: 'ProximaNovaBold';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #2A2A2F; }

p {
  font-family: 'ProximaNovaRegular';
  font-size: 14px;
  color: #333;
  line-height: 1.65;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.12); }

strong {
  font-family: 'ProximaNovaBold';
  font-weight: normal;
  font-style: italic; }

a {
  font-family: 'ProximaNovaBold';
  color: #2C2C2C;
  text-decoration: none;
  outline: none; }

a:visited {
  text-decoration: none; }

#wrapper {
  background-image: -webkit-gradient(circle cover, from(rgba(123, 89, 61, 0.38)), to(rgba(116, 81, 50, 0.6) 100%));
  background-image: -webkit-radial-gradient(circle cover, rgba(123, 89, 61, 0.38), rgba(116, 81, 50, 0.6) 100%);
  background-image: -moz-radial-gradient(circle cover, rgba(123, 89, 61, 0.38), rgba(116, 81, 50, 0.6) 100%);
  background-image: -ms-linear-gradient(circle cover, rgba(123, 89, 61, 0.38), rgba(116, 81, 50, 0.6) 100%);
  background-image: -o-linear-gradient(circle cover, rgba(123, 89, 61, 0.38), rgba(116, 81, 50, 0.6) 100%);
  padding: 0 0 40px 0; }

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden; }

/* Top and Header Content */
#top {
  padding: 60px 0 20px 0;
  border-bottom: 2px solid rgba(116, 81, 50, 0.1);
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.11);
  margin: 0 0 10px 0; }
  #top h1 {
    font-size: 108px;
    margin: 0;
    float: left; }
    #top h1 a {
      font-family: 'MenschBold';
      color: #2A2A2F; }
    #top h1 a:hover {
      text-decoration: none;
      color: #2A2A2F; }
  #top p {
    padding: 11px 0 0 0;
    margin: 0 0 0 32px;
    float: left;
    width: 430px; }
    #top p span {
      font-family: 'ProximaNovaBold';
      text-transform: uppercase;
      font-size: 20px;
      display: block;
      margin-bottom: 3px; }

a.download {
  display: block;
  float: right;
  margin: 10px 0 0 0;
  font-family: 'MenschBold';
  color: #2A2A2F;
  line-height: 1.05;
  font-size: 48px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1); }
  a.download span {
    margin: 5px 0 0 0;
    font-size: 36px;
    text-align: center; }

.sub-header {
  font-family: 'MenschBold';
  font-size: 42px;
  margin: 0 0 -5px 0;
  padding: 25px 0 0 0;
  line-height: 1.05;
  color: #2A2A2F;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1); }
  .sub-header span {
    font-size: 28px; }

/* Hero Image */
#hero {
  background-color: transparent;
  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
  background-size: auto 600px;
  background-position: center center;
  height: 662px;
  width: 100%;
  clear: both;
  overflow: hidden;
  border-bottom: 2px solid rgba(116, 81, 50, 0.15);
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.11);
  margin: -30px 0 10px 0; }
  #hero li {
    color: #36363c;
    position: absolute;
    width: 180px;
    padding: 12px 19px 16px 19px;
    display: block;
    background-color: rgba(255, 255, 255, 0.22);
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.5), inset 0 0 5px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.19); }
  #hero strong {
    font-family: 'ProximaNovaBold';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    margin: 4px 0 10px 0;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
    display: block; }
  #hero li p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 13px;
    line-height: 1.52;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.12); }
  #hero .helmet {
    margin: 1px 0 0 681px;
    width: 190px; }
  #hero .vest {
    margin: 54px 0 0 27px; }
  #hero .jetpacks {
    margin: 306px 0 0 -30px;
    width: 160px; }
  #hero .flamethrower {
    margin: 390px 0 0 749px;
    width: 142px; }

/* Bottom */
#bottom {
  clear: both;
  overflow: hidden;
  margin: 0 0 0 0;
  padding: 25px 0 0 0;
  width: 100%; }
  #bottom h3 {
    font-family: 'ProximaNovaBold';
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    margin: 0 0 13px 0;
    line-height: 1.4;
    text-transform: uppercase;
    color: #2A2A2F;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1); }
  #bottom .screenshot {
    clear: both;
    overflow: hidden;
    width: 400px;
    height: 240px;
    border-radius: 12px;
    background-image: url("../images/screensaver.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 630px auto;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 0 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.48), 0 1px 2px rgba(255, 255, 255, 0.4); }
  #bottom .terminal {
    background-color: #27292C;
    background-image: url("../images/terminal.png");
    background-position: center center;
    background-size: 402px auto;
    margin-top: 20px; }
  #bottom .boxen-web {
    background-image: url("../images/boxen-web.png");
    background-position: center center;
    background-size: 510px auto;
    background-color: #E9E9E9; }
  #bottom p {
    font-size: 14px;
    margin: 0 0 20px 0;
    width: 945px; }
  #bottom .left p {
    width: 519px; }
  #bottom a:hover {
    text-decoration: underline; }

/* Footer */
#footer {
  margin: 0;
  background-color: rgba(95, 66, 41, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.13), 0 -1px 2px rgba(255, 255, 255, 0.12);
  font-family: 'ProximaNovaBold';
  text-transform: uppercase;
  font-size: 15px;
  color: #2A2A2F;
  text-align: right; }
  #footer p {
    margin-right: 60px; }
  #footer .heart {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../images/heart.png");
    background-position: right center;
    background-size: 18px 18px;
    margin-bottom: -3px; }
  #footer .container {
    padding: 40px 0 30px 0;
    background-image: url("../images/invertocat.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 34px auto; }

/* Float class selectors and clearfix */
.right {
  float: right; }

.left {
  float: left; }

.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after {
  clear: both; }
