html, body {
  height: 100%;
}

html {
  background-color: transparent;
  background-image: url('../images/cardboard_@2X.png');
	background-size: 600px 600px;
}

body {
  margin: 0; 
  height: 100%;
  font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: 'MenschBold';
  font-weight: bold;
  font-style: normal;
  font-size: 94px;
  line-height: 1.2;
  color: rgba(0,0,0,.81);
  -webkit-mask-image: -webkit-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.59));
  text-shadow: 0 1px 2px rgba(255,255,255,.32);
}

h2, h3, h4 {
  font-family: 'ProximaNova-Bold';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

h3 {
  font-size: 16px;
}

p {
  font-family: 'ProximaNova-Regular';
  font-size: 15px;
  color: #333;
  line-height: 1.5;
  text-shadow: 0 1px 1px rgba(255,255,255,.12);
}

a {
  color: #2C2C2C;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

#wrapper {
  background-image: -webkit-gradient(circle cover, from(rgba(123,89,61,.38)), to(rgba(116,81,50,.6) 100%));
  background-image: -webkit-radial-gradient(circle cover, rgba(123,89,61,.38), rgba(116,81,50,.6) 100%);
  background-image: -moz-radial-gradient(circle cover, rgba(123,89,61,.38), rgba(116,81,50,.6) 100%);
  background-image: -ms-linear-gradient(circle cover, rgba(123,89,61,.38), rgba(116,81,50,.6) 100%);
  background-image: -o-linear-gradient(circle cover, rgba(123,89,61,.38), rgba(116,81,50,.6) 100%);
  padding: 0 0 40px 0;
}

.container {
  width: 760px;
  margin: 0 auto;
  padding: 30px 0;
}

/* Top and Header Content */

#top {
  margin: 40px auto 30px auto;

  h1 {
    margin: 0;
    float: left;
  }

  p {
    /*border-left: .23em solid darken(rgba(116,81,50,.2), 1%);*/
    padding: 0 0 9px 0;
    margin: 5px 0 0 35px;
    float: left;
    width: 385px;
    border-bottom: 1px solid rgba(116,81,50,.2);
    box-shadow: 0 1px 1px rgba(255,255,255,.1);
  }

  a {
    font-family: 'ProximaNova-Bold';
  }
}

.stamp {
  float: right;

  .ss-icon {
    display: inline-block;
    font-size: 76px;
    margin: 0 0 0 0;
    -webkit-mask-image: -webkit-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.59));
    text-shadow: 0 1px 2px rgba(255,255,255,.32);
    color: rgba(0,0,0,.81);
  }

}

/* Stacks */

.label-inner {
  background-color: white;
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(254,254,254,1) 100%);
  margin: 0 auto;
  z-index: 2;
  position: relative;
  min-height: 500px;
  box-shadow: inset 0 2px 1px rgba(255,255,255,1),
                    0 1px 0 rgba(0,0,0,.3),
                    0 1px 5px rgba(0,0,0,.4);
}

.label-outer {
  background-color: white;
  z-index: 1;
  position:relative;
  -webkit-transform: rotate(-1.8deg);
  -moz-transform: rotate(-1.8deg);
  -ms-transform: rotate(-1.8deg);
  box-shadow: 0 1px 0 rgba(0,0,0,.3), 
              0 1px 5px rgba(0,0,0,.3);
}

.label-inner {
  -webkit-transform: rotate(1.8deg);
  -moz-transform: rotate(1.8deg);
  -ms-transform: rotate(1.8deg);
}

/* Bucket Content */

.bucket-title {
  font-family: 'ProximaNova-SemiBold';
  font-size: 33px;
  text-transform: uppercase;
  text-align: center;
  color: #333;
  text-shadow: 0 1px 1px #FFF;
  padding: 15px 0 0 0;

  span {
    font-size: 32 px;
    letter-spacing: 1px;
  }
}

.bucket-content {
  padding: 25px 0 25px 50px;
  clear: both;
  overflow: hidden;

  img {
    width: 100%;
    height: 200px;
    border-color: transparent;
    box-shadow: none;
    display: block;
  }

  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
  }

  ol li {
    display: inline-block;
    width: 300px;
    float: left;
    margin: 0 auto;
    padding: 0 50px 20px 5px;
  }

  ol li p {
    font-size: 14px;
    line-height: 1.19;
  }

  ol li span {
    font-size: 13px;
    color: #999;
    line-height: 1.78;
  }

  ol li strong {
    font-family: 'ProximaNova-Bold';
    font-size: 14px;
   }
}

/* Bottom */

#bottom {
  clear: both;
  overflow: hidden;
  margin: 60px 0 0 0;

  h3 {
    font-family: 'MenschBold';
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
    margin: 25px 0 0 0;
    line-height: 1.5;
    -webkit-mask-image: -webkit-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.3));
    text-shadow: 0 1px 1px rgba(255,255,255,.12);
    color: rgba(0,0,0,.85);
  }

  img {
    width: 300px;
  }

  p {
    width: 420px;
  }
}

/* Footer */

#footer {
  background-color: darken(rgba(116,81,50,.6), 6%);
  height: 180px;
  margin: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.13), 0 -1px 2px rgba(255,255,255,.12);
}

/* Float class selectors and clearfix */

.right {
  float: right;
}

.left {
  float: left;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}




